.formRow {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.formLabel {
  flex-basis: 150px;
  /* Adjust as needed */
  flex-shrink: 0;
  margin-right: 1.5rem;
  font-weight: 500;
}

.formControl {
  flex-grow: 1;
  min-width: 0;
}

/* Vertical Layout */
.formVertical {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.formVertical .formLabel {
  margin-bottom: 0.5rem;
  flex-basis: auto;
  margin-right: 0;
}

/* Basic Input/Select Styling */
.input,
.selectTrigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  padding: 0 15px;
  font-size: 14px;
  line-height: 1;
  height: 38px;
  gap: 5px;
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  border: 1px solid var(--bs-border-color);
  width: 100%;
}

.selectTriggerSm {
  height: 32px;
  font-size: 0.875rem;
  padding: 0 10px;
}

.input:focus,
.selectTrigger[data-state='open'] {
  outline: none;
  border-color: var(--bs-primary);
  box-shadow: 0 0 0 2px var(--bs-primary-bg-subtle);
}

/* Select Specifics */
.selectContent {
  overflow: hidden;
  background-color: var(--bs-body-bg);
  border-radius: 6px;
  border: 1px solid var(--bs-border-color);
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px rgba(22, 23, 24, 0.2);
  z-index: 2000;
}

.selectItem {
  font-size: 14px;
  line-height: 1;
  color: var(--bs-body-color);
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 25px;
  padding: 0 35px 0 25px;
  position: relative;
  user-select: none;
}

.selectItem[data-highlighted] {
  outline: none;
  background-color: var(--bs-primary);
  color: white;
}

.selectItemIndicator {
  position: absolute;
  left: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* Slider Specifics */

.SliderRoot {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  touch-action: none;
  width: 100%;
  height: 20px;
}

.SliderTrack {
  background-color: var(--bs-secondary-bg);
  position: relative;
  flex-grow: 1;
  border-radius: 9999px;
  height: 3px;
}

.SliderRange {
  position: absolute;
  background-color: var(--bs-primary);
  border-radius: 9999px;
  height: 100%;
}

.SliderThumb {
  display: block;
  width: 20px;
  height: 20px;
  background-color: white;
  box-shadow: 0 2px 10px var(--bs-secondary-color);
  border-radius: 10px;
  border: 1px solid var(--bs-border-color);
}

.SliderThumb:hover {
  background-color: var(--bs-body-bg);
}

.SliderThumb:focus {
  outline: none;
  box-shadow: 0 0 0 5px var(--bs-primary-bg-subtle);
}

.disabled {
  opacity: 0.6;
  pointer-events: none;
  filter: grayscale(0.5);
}