.spinner {
    --bs-spinner-width: 2rem;
    --bs-spinner-height: 2rem;
    --bs-spinner-border-width: 0.25em;
    --bs-spinner-animation-speed: 0.75s;
    --bs-spinner-color: #0d6efd;

    display: inline-block;
    width: var(--bs-spinner-width);
    height: var(--bs-spinner-height);
    vertical-align: -0.125em;
    border: var(--bs-spinner-border-width) solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    animation: spinner-border var(--bs-spinner-animation-speed) linear infinite;
    color: var(--bs-spinner-color);
}

.sm {
    --bs-spinner-width: 1rem;
    --bs-spinner-height: 1rem;
    --bs-spinner-border-width: 0.2em;
}

@keyframes spinner-border {
    to {
        transform: rotate(360deg);
    }
}